credentials:
- credential_type:
    kind: vault
    name: Vault
    type: credential_type
  description: Vault password for test content systems
  inputs:
    vault_id: '{{ vault_id_value }}'
    vault_password: '{{ vault_password_value }}'
  name: ACM_vault
  natural_key:
    credential_type:
      kind: vault
      name: Vault
      type: credential_type
    name: ACM_vault
    organization:
      name: Default
      type: organization
    type: credential
  organization:
    name: Default
    type: organization
